extends ../layout

block content
	h1.text-white Welcome to Library Books
	if isAdmin
		a(href="/books/create") Create New Books 
	form(action="/books",method="POST",class="float-right mb-3 clearfix")
		input(type="text",name="title",class="mr-3 form")
		button(class="btn btn-primary",type="submit") Search
	
	.row(style="margin-top:10rem")
		each book in books
			.col-md-4.col-sm-6
				.card(style="width:18rem;height:18rem")
					img(class="card-img-top img-fluid ",width="250",height="300px",src=book.image,alt="Card image cap")
				.card-body.text-white
					h5(class="card-title font-weight-bold")= book.books
					p(class="card-text font-weight-bold text-white")= book.title
					a(href="/books/" + book.id,class="btn btn-primary mr-3 ") View Book
					if !user
						a(href="/books/add/" + book.id,class="btn btn-primary ") Add Item To Cart
					else if book.idUser.toString() !== user.id || user.isAdmin
						a(href="/books/add/" + book.id,class="btn btn-primary ") Add Item To Cart
	nav(aria-label="...")
		ul(class="pagination pagination-lg float-right")
			- var n = 1;
			while n <  (5)
				if page[0] === n 
					li(class= "page-item active")
						a(class="page-link ",href="?page=" + n,tabindex="-1",method="POST")= n++
				else
					li(class= "page-item")
						a(class="page-link ",href="?page=" + n,tabindex="-1",method="POST")= n++